.roomCell {
	position:relative;
	float:left;
	width: 200px; height: 200px;
	text-align: center;
	box-shadow: 0px 1px 2px #A8A8A8;
	margin: 10px;
}

.content {
	width: 100%; height: 100%;
	position: absolute;
	text-align: center;
}

.hoverCover {
	position: absolute;
	width:100%; height:100%; 
	background-color:rgba(100, 100, 100, 0.8); 
	text-align:center;
}

.roomActionBtn {
	position:absolute;
	top:0px; left:0px;
	width:100%; height:100%;
	background-color:rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position:center; 
	border-style:none;
}

.roomTitle {
	position:absolute;
 	left:0px; right:0px; top:25%;
 	line-height:30px;
 	margin:auto;
 	width:80px;
 	border-radius:4px; border-style:solid; border-width:5px; color:#444444;
 	padding-right: 10px; padding-left: 10px;
}

.chatman {
	position:absolute;
	top:45%;
	width: 100%;
 	margin:auto;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}