html
	head
		title= "Real time web chat"
		script(src='/socket.io/socket.io.js')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="/js/filereader.js")
		script.
			$(document).ready(function() {
				var messages = [];
				var socket = io.connect("http://localhost:" + "#{port}");
				var field = document.getElementById("field");
				var sendButton = document.getElementById("send");
				var content = document.getElementById("content");
				var room = "#{room}";
				var userName = "#{userName}";

				socket.emit('subscribe', room, userName);

				socket.on('message', function (data) {
					console.log("client on message ", data);
					var p = $("<p>").text(data.userName + " : " + data.message);
					$("#content").append(p);
				});

				socket.on('image', function(data){
					var img = $("<img>").attr({src:data.image});
					var p = $("<p>").text(data.userName + " : ").append(img);
					$("#content").append(p);
				})

				sendButton.onclick = function() {
					var text = field.value;
					socket.emit('message', text);
					$("#field img").each(function(){
						var data = $(this).attr("src");
						socket.emit('image', data);
						$(this).remove();
					})
				}; 
			});
	body
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
		.controls
			input#field(style='width:450px; height:40px; font-family:Helvetica; font-size:20px')
			button#send(type='button' style="width: 50px; height: 30px; margin:0px auto auto 4px")
		script.
			FileReaderJS.setupDrop(document.body, {
				readAsDefault: "DataURL",
				on: {
					load: function(e, file) {
						var img = new Image();
						img.onload = function() {
							$("#field").append(img);
						};
						img.src = e.target.result;
					}
				}
			});
			console.log(FileReaderJS);