html
	head
		title="real time chat room - Lobby"
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		link(href="/style/lobby.css", rel="stylesheet")
		script.
			function setSelectionEnable(enabled) {
				if(enabled) {
					$("#roomSelect").css("opacity",1.0);
					$("#createCell").addClass("selectionEnabled");
					$(".selectionEnabled").hover(function() {
						$(this).find(".hoverCover").fadeIn("fast");
						$(this).find("#createRoomName").focus();
					}, function() {
						$(this).find(".hoverCover").fadeOut("fast");
					});
				}
				else {
					$("#roomSelect").css("opacity",0.5);
					$("#createCell").removeClass("selectionEnabled");
				}
				$("#roomSelect input").each(function(){
					$(this).disabled = !enabled;
				});
				$("#roomSelect button").each(function(){
					$(this).disabled = !enabled;
				});
			};

			$(document).ready(function() {
				setSelectionEnable(false);
				var roomNames = !{roomNames};
				for	(var index in roomNames) {
					var roomName = roomNames[index];
					var cell = $("<div>").addClass("roomCell selectionEnabled");
					var hoverCover = $("<div>").addClass("hoverCover").hide();
					var joinBtn = $("<button>").addClass("roomActionBtn").css({"background-image": "url(/images/join_chat.png)"});
					hoverCover.append(joinBtn);

					var content = $("<div>").addClass("content");
					var p = $("<p>").addClass("ellipsis roomTitle").text(roomName);
					var chatman = $("<div>").addClass("chatman");
					chatman.append($("<img>").attr({src:"/images/chat_man.png"}).css({"width":"60px", "height":"60px","float":"left", "margin":"auto -10px auto 50px"}));
					chatman.append($("<p>").attr({id:"userCount"}).css({"height":"60px", "line-height":"60px", "float":"left", "margin":"0px", "color":"#444444"}).text("16"));
					content.append(chatman).append(p)

					cell.append(content).append(hoverCover);
					$("#roomSelect").append(cell);

					joinBtn.click(function(){
						var userName = $("#userName").attr("value");
						$.get("/joinRoom", {roomName:roomName, userName:userName}, function(result){
							if(result.message) {
								console.log(result.message);
							}
							if(result.url) {
								window.location = result.url;
							}
						});
					});
				}

				$("#userLogin").click(function() {
					$.post("/addUser", {userName: $("#headerContainer input").val()}, function(result) {
						if(result.login) {
							setSelectionEnable(true);
						}
						else {

						}
					})
				});

				$("#createBtn").click(function() {
					var roomName = $("#createRoomName").val();
					var userName = $("#userName").val();
					if (roomName && userName) {
						$.get('/createRoom', {roomName:roomName, userName:userName}, function(result){
							if(result.message) {
								console.log(result.message);
							}

							if(result.url) {
								window.location = result.url;
							}
						});
					}
				});

				$("#headerContainer").hover(function() {
					$(this).find("button").fadeIn("fast");
					$(this).find("#userName").focus();
				}, function() {
					$(this).find("button").fadeOut("fast");
				});
			});
		style.
			input {width:200px; height:40px; font-family:Helvetica; font-size:24px; text-align:center}
			p {margin-top:5px; margin-bottom:5px; font-family:Helvetica; font-size:24px;}
	body
		#container(style="width:800px; margin:0 auto")
			#headerContainer(style="margin:10px auto 10px 30%;width:50%; text-align:left")
				img(id="userIcon" src="/images/user.png" style="width:60px;height:60px; vertical-align: middle")
				input(spellcheck="false" autocorrect="off" autocomplete="off" id="userName" type="text" style="width:120px;height:60px;vertical-align: middle; border-style:none; outline:none; text-align:left")
				button(id="userLogin" style="width:60px; height:60px;background-image: url(/images/login.png);border-style:none; vertical-align: middle;" hidden)
			#roomSelect(style="width:100%; margin-top:40px;")
				#createCell.roomCell(class="selectionEnabled")
					#content(class="content")
						img(src="/images/chat_room_3.png")
					#hoverCover(class="hoverCover" hidden)
						input(spellcheck="false" autocorrect="off" autocomplete="off" id="createRoomName" type="text" style = "width:70%; background-color:rgba(0,0,0,0); border-style:none; outline:none; margin-top:10%" placeholder="room name")
						button(id="createBtn" class="roomActionBtn" style="background-image: url(/images/add_room.png)")